.alert-wrapper.sc-ion-alert-md {
  background: hsla(0, 0%, 100%, 0.05) !important;
  background-size: 150% !important;
  border: 1px solid hsla(0, 0%, 100%, 0.3) !important;
  border-radius: 16px !important;
}
.flex-lang {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.language-button {
  margin: 4px;
}
.custom-button {
  --border-width: 1px;
  --border-color: #ccc;
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-style: solid;
}
