.list-wallets {
  background-color: transparent;
  padding-top: 10px;
}
.mb {
  margin-bottom: 10px;
}
.item-card {
  background: hsla(0, 0%, 100%, 0.05);
  background-size: 150%;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 16px;
  margin-bottom: 10px;
}
.logo {
  width: 70px;
  height: 70px;
}
.logo-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
h1.titleGradient {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(https://crl2020.imgix.net/img/type-gradient.png?auto=format%2Ccompress);
  color: transparent;
  font-family: Poppins, sans-serif;
  font-weight: 700 !important;
}
#myFabButton {
  --background: #1af9ec;
}
p.subtitleP {
  color: #3ce0f5;
  display: flex;
  align-items: center;
}
span.addButtonText {
  font-size: 37px;
  margin-left: 5px;
  margin-right: 5px;
}
.image-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.img-container img {
  text-align: center;
  margin: auto;
}
.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
h2.wallName {
  padding-left: 10px;
  font-size: 20px;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(https://crl2020.imgix.net/img/type-gradient.png?auto=format%2Ccompress);
  color: transparent;
  font-family: Poppins, sans-serif;
  font-weight: 700 !important;
}
.langHolder {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  align-items: center;
}
.flex-lang {
  display: flex;
}
/* .ion-content {
  --background: rgb(71 56 119 / 52%) !important;
  --background-image: linear-gradient(at 0 0, #100f15 0, transparent 60%),
    radial-gradient(at 50% 0, #2f3e6a 0, transparent 60%),
    radial-gradient(at 100% 0, #5a25a1 0, transparent 60%);
} */
/* .ion-grid {
  height: 100%;
}
.ion-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
} */
